/* Full screen background */
.qml-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #fffefe);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

/* Main card */
.qml-card {
  background: #ffffff;
  width: 420px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
}

/* Title */
.qml-card h1 {
  color: #b23a48;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Upload box */
.upload-box {
  display: block;
  padding: 14px;
  border: 2px dashed #f2a7b5;
  border-radius: 10px;
  color: #b23a48;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.upload-box:hover {
  background: #fff0f3;
}

/* Image preview box */
.image-preview {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f2a7b5;
  margin-bottom: 20px;
}

/* Image inside preview */
.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Button */
.classify-btn {
  width: 100%;
  padding: 12px;
  background: #f28482;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.classify-btn:hover {
  background: #e56b6f;
}


.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #fdfdff);
}

.auth-box {
  background: #fff;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #e56b6f;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}

.auth-box span {
  color: #e56b6f;
  cursor: pointer;
  font-weight: bold;
}